---
---

@import '{{ site.theme }}';
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
$base-color: rgb(10, 10, 10);
$header-color: rgb(78, 78, 78);
$blue: rgb(90, 199, 222);

body {
	// background: linear-gradient(rgba(90, 199, 222, 1), rgba(90, 199, 222, 0)),
	// 	url('/assets/redox-01.png') center center;
	// color: rgb(117, 105, 105);
	background: rgb(90, 199, 222);
	background: linear-gradient(
		180deg,
		rgba(90, 199, 222, 1) 26%,
		rgba(255, 255, 255, 1) 100%
	);
	font-family: 'Dosis', sans-serif;
}

p {
}

h1 {
	font-size: 4em !important;
}

h2,
h3,
h4 {
	color: $header-color !important;
}

.page-header {
	/* Here's the trick */
	background: url(/banner_sm.jpg) top center;
	background-repeat: no-repeat;
	// background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 4em;
	padding-right: 4em;
	padding-bottom: 4em;
	padding-top: 0.5em;
	color: $base-color;
	min-height: 35vh;
	max-height: 50vh;
	//margin-bottom: 2em;

	// -webkit-box-shadow: 0 -8px 5px -8px $blue inset;
	// -moz-box-shadow: 0 -8px 5px -8px $blue inset;
	// box-shadow: 0 -8px 5px -8px $blue inset;
}

.project-name {
	margin-left: auto;
	margin-right: auto;
}

.links {
	display: none;
	list-style: none;
	overflow: hidden;
	//display: flex;

	& a {
		color: $base-color;
		padding: 0.5em;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			font-size: 1.2em;
		}
	}
}

.card {
	padding: 1em;
	background: rgb(246, 250, 250);
	border-radius: 0.5em;
	margin-bottom: 1.5em;
}
.main-content {
	padding-right: 1em;
	padding-left: 1em;
}
.card-content {
	display: flex;
}
.card-image {
	margin-left: 2em;
	margin-right: 2em;
	padding: 0.2em;
	object-fit: cover;
	width: 35%;
	border-radius: 0.5em;
	height: 60%;
}
.card-text {
	flex-wrap: wrap;
	& a {
		color: black;
	}
}

.col {
	padding-right: 2em;
}
.contact {
	padding-left: 0.5em;
}

.card-grid {
	display: flex;
	flex-wrap: wrap;
}

.footer {
	background-color: white;
	color: black;
	text-align: center;

	& a {
		color: black;
	}
}

.fb_logo {
	& img {
		width: 8em;
	}
	&--sm {
		img {
			width: 8em;
		}
		padding-top: 1.5em;
		margin: 0 auto;
	}
}

@media screen and (max-width: 850px) {
	.page-header {
		background: url(/banner_sm.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
	}
}

@media screen and (max-width: 590px) {
	.col {
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	.col {
		width: 100%;
	}
	.contact-pad-left {
		padding-left: 0em;
	}
	.contact {
		width: 100%;
	}
}

@media screen and (max-width: 520px) {
	.links {
		display: none;
	}

	.project-name {
		font-size: 3em;
	}

	.card-image {
		display: none;
	}
}
