---
---

@import '{{ site.theme }}';

body {
	background: linear-gradient(rgba(67, 77, 62, 0.3), rgba(67, 77, 62, 0.5)),
		url('/assets/redox-01.png') center center;
	color: black;
}

p {
	font-size: smaller;
}

h1 {
	font-size: xx-large;
}

.page-header {
	/* Here's the trick */
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
		url(/banner.jpg) center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 4em;
	padding-right: 4em;
	padding-bottom: 4em;
	padding-top: 0.5em;
	color: white;
	min-height: 35vh;
	max-height: 50vh;
	margin-bottom: 2em;

	-webkit-box-shadow: 0 -8px 5px -8px white inset;
	-moz-box-shadow: 0 -8px 5px -8px white inset;
	box-shadow: 0 -8px 5px -8px white inset;
}

.project-name {
	margin-left: auto;
	margin-right: auto;
}

.links {
	list-style: none;
	overflow: hidden;
	display: flex;

	& a {
		color: white;
		padding: 0.5em;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			font-size: 1.1em;
		}
	}
}

.card {
	padding: 1em;
	background: white;
	border-radius: 1em;
	margin-bottom: 1.5em;
}
.card-content {
	display: flex;
}
.card-image {
	margin-left: 2em;
	margin-right: 2em;
	padding: 0.2em;
	object-fit: cover;
	width: 35%;
	border-radius: 1em;
	height: 60%;
}

@media screen and (max-width: 520px) {
	.links {
		display: none;
	}

	.project-name {
		font-size: xx-large;
	}
	.project-tagline {
		font-size: large;
	}
}
