<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <script>
</script>
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
        <nav>
            <ul class="links">
              <li><a href="#testimonials">Testimonials</a>
              <li><a href="#services">Services</a></li>
              <li><a href="#prices">Prices</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
       </nav>
      <!-- <h1 class="project-name">{{ page.title | default: site.title }}</h1> -->
      </header>
    <main id="content" class="main-content" role="main">
      <div class="card">
        <div class="card-header">
          <h2>Welcome to Walk, Stay and Play!</h2>
        </div>
        <div class="card-content">
          <div class="card-text">
            <p>Hi my name is Anne, I offer a personal and friendly dog boarding and sitting service in Ipswich.</p>
            <p>Established in 2014 fully insured and Licensed with Ipswich Borough Council.</p>
            <p>As an experienced dog owner I appreciate that knowing who to trust with your pet is an important decision. I can promise that your dog will be treated as if it were one of my own and that I take the responsibility of minding your dog most seriously.</p>
            <p>Before walking your dog I will meet you to get to know your dog and discuss your requirements to give you confidence that your dog is in the best possible hands.</p>
          </div>
          <img class="card-image" src="/home.jpg">
        </div>
      </div>
      <div class="card">
          <div class="card-header">
            <a name="testimonials"><h2>Testimonials</h2></a>
          </div>
          <div class="card-content">
            <img class="card-image" src="/many dogs.jpg">
            <div class="card-text">
              <p>
                Here are just a couple of testimonials from some of happy customers, for more check out our <a href="https://www.facebook.com/DogWalkStayPlay">Facebook</a> page.
              </p>
              <div class="fb_logo">
                <a href="https://www.facebook.com/DogWalkStayPlay">
                  <img src="/FindUsOn_EN_2019/online_EN/Color/FindUs-FB-RGB-BRC-Site-500.svg">
                </a>
              </div>
              <hr>
              <h4>Bekki Fileccia</h4>
              <p>My two Cavaliers are always very happy staying at Anne's.They get the best attention and walks and love snuggling down on the sofa with Anne and her husband in the evenings!
                Bekki Fileccia
              </p>
              <hr>
            </div>
          </div>
          <div class="card-text">
            <h4>Sue & Bailey</h4>
            <p>Bailey is a happy dog when he is with Anne. It is his second home, which is the biggest compliment l can pay. You could not have anyone better to look after your Pooch.</p>          
          <hr>
            <h4>
              Shaun & Coco
            </h4>
            <p>
              Our cockapoo Coco has stayed with Walk, Stay and Play for odd days, weekends and longer family holidays since she was a puppy. Coco is treated with the same affection and care she receives at home and always comes home happy and content. Anne is experienced, flexible and very well organised and comes highly recommend.
            </p>
          <hr>
            <h4>Jasper the beagle</h4>
            <p>
              Due to the current Covid 19 situation we are staying home and Jasper is not happy about it. He usually has three to four stays a year with Anne, Gary and his best buddy Harry. He is missing his pals, liver cake and posing for steps photos. We are always assured when we go away just overnight or for a longer holiday that Jasper has a home from home at Walk, Stay and Play. We have been using ASP for around five years, firstly with our beagle Tilly, and now with Jasper. We highly recommend WSP to anyone who wants peace of mind when leaving their own best friend when away on their holidays.
            </p>
          </div>
      </div>
      <div class="card">
          <div class="card-header">
            <a name="services"><h2>Services</h2></a>
          </div>
          <div class="card-content">
            <div class="card-text">
              <h4>Walking</h4>
              <p>Due to work or other commitments you may sometimes have to leave your dog longer than you might care to, well, relax knowing that l can take care of that for you.</p>
              <p>Your dog will be walked for a full hour, unless otherwise requested. You can choose whether you would prefer walking on their own, on lead, off lead where they can run free and play with other dogs.</p>
              <p>I will ensure whatever mud etc they might choose to roll in you will get them back with clean paws, been watered and ready for a sleep.</p>
              <p>Your preferences and concerns can all be worked out when we have our initial consultation.</p>
              <h4>Day care & Home boarding</h4>
              <p>This service is ideal for days, nights weekends or weeks away as a great alternative to boarding kennels.</p>
              <p>Your dog will stay in my home and be treated as my own with lots of love and attention.</p>
              <p>Two good walks a day are the minimum and who knows a third maybe on the agenda when my husband gets in from work.</p>
              <p>They will have access to a secure garden, treats as agreed and lots of fun! If you require comfort in the knowledge they are having a ball a text service for updates is available free of charge. Day care is also a good way to socialise your dog and get them used to spending time with other 4 pawed friends.</p>
              <p>It really is a doggie hotel as close to home as you can get.</p>
            </div>
          </div>
      </div>
      <div class="card">
          <div class="card-header">
            <a name="prices"><h2>Prices</h2></a>
          </div>
          <div class="card-content">
            <div class="card-text">
              <div class="card-grid">
                <div class="col">
                  <h3>Home boarding</h3>
                  <p>Overnight boarding</p>
                  <p>£25 for one dog</p>
                  <p>£45 for two dogs</p>
                </div>
                <div class="col col-pad">
                  <h3>Walking</h3>
                  <p>1 hour walk</p>
                  <p>£12 for one dog</p>
                  <p>£20 for two dogs</p>
                </div>
                <div class="col col-pad">
                    <h3>Day care</h3>
                    <p>Up to 8 hours</p>
                    <p>£20 for one dog</p>
                    <p>£35 for two dogs</p>
                </div>
              </div>
              <div>
                  <h3>Drop off & collection</h3>
                  <p>Your dog can be dropped off between 8am and 9am with collection by 6pm.</p>
                  <p>An earlier drop off or a later collection can be accommodated but must be discussed prior to the day to ensure it is possible.</p>
              </div>
            </div>
          </div>
      </div>
      <div class="card">
          <div class="card-header">
            <a name="contact"><h2>Contact</h2></a>
          </div>
          <div class="card-content">
            <div class="card-text">
              <p>I would love to hear from you to discuss your needs, our number one priority to provide the best possible service for you and your dog, so me know how we can help.</p>
              <p><a href="mailto:anne@walkstayandplay.co.uk">E: anne@walkstayandplay.co.uk</a></p>
              <p><a href="tel:01473843729">T: 01473 843729</a></p>
              <p><a href="tel:07702499455">M: 07702 499455</a></p> 
            </div>
            <img class="card-image" src="/walk.jpg">
          </div>
      </div>
    </main>
    <footer class="footer">
      <div>
        <p>Fully licenced by Ipswich Borough Council. Animal Activity Licence AWL0019. Animal Boarding Establishments Act 1963</p>
      </div>
      <div class="" style="display: flex; flex-wrap: wrap; justify-content: center;">
        <a class="contact" href="mailto:anne@walkstayandplay.co.uk">E: anne@walkstayandplay.co.uk</a>
        <a class="contact contact-pad-left" href="tel:01473843729">T: 01473 843729</a>
        <a class="contact contact-pad-left" href="tel:07702499455">M: 07702 499455</a>
      </div>
      <div class="fb_logo--sm">
        <a href="https://www.facebook.com/DogWalkStayPlay">
          <img src="/FindUsOn_EN_2019/online_EN/Black/FindUs-FB-RGB-Blk.svg">
        </a>
      </div>
    </footer>
  </body>
</html>
